@import './reset.scss';

@font-face {
  font-family: 'alifont';
  src: url('@/assets/font/AlimamaFangYuanTiVF-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'alifont' !important; //全局默认字体
}
